In [1]:
!pip install sqlalchemy pymysql pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.30-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 1.9 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 KB 1.4 MB/s eta 0:00:00
Requirement already satisfied: pandas in /home/allysonbarros/.local/lib/python3.10/site-packages (2.2.2)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 KB 1.8 MB/s eta 0:00:00[31m1.8 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/allysonbarros/.local/lib/python3.10/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/allysonbarros/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/allysonbarros/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/allysonbarros/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 pymysql-1.1.0 sqlalchemy-2.0.30

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('raw_data/dados_licencas_medicas.csv', delimiter=';', date_format='%d/%m/%Y', encoding='iso-8859-1')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nome_medico         1013 non-null   object
 1   especialidade       1013 non-null   object
 2   motivo_licença      1013 non-null   object
 3   id_colaborador      1013 non-null   int64
 4   nome_colaborador    1013 non-null   object
 5   data_nascimento     1013 non-null   object
 6   estado_colaborador  1013 non-null   object
 7   sexo_colaborador    1013 non-null   object
 8   inicio_licenca      1013 non-null   object
 9   fim_licenca         1013 non-null   object
 10  duracao_licensa     1013 non-null   int64
 11  idade               1013 non-null   int64
 12  escolaridade        1013 non-null   object
 13  salario             995 non-null    float64
 14  qtd_filhos          1007 non-null   float64
 15  hobbie              1013 non-null   object
 16  possui_pet          1013 non-null   object
 17  estado_civil        1008 non-null   object
dtypes: float64(2), int64(3), object(13)
memory usage: 142.6+ KB

In [5]:
df.head()

,nome_medico,especialidade,motivo_licença,id_colaborador,nome_colaborador,data_nascimento,estado_colaborador,sexo_colaborador,inicio_licenca,fim_licenca,duracao_licensa,idade,escolaridade,salario,qtd_filhos,hobbie,possui_pet,estado_civil
0,Dr. Pedro,Clínico geral,Acidente de trabalho,2,Sophie Aragão,27/03/1970,Rio Grande do Sul,Feminino,22/10/2022,27/10/2022,5,53,Fundamental,3966.24,2.0,Música,Sim,Solteiro(a)
1,Dr. Marcelo,Clínico geral,Acidente de trajeto,6,Juliana da Luz,25/06/1957,Ceará,Feminino,15/08/2023,04/09/2023,20,65,Médio,8924.56,4.0,Artes,Não,Casado(a)
2,Dr. Gustavo,Clínico geral,Enfermidade de filhos pequenos,7,Marina da Rocha,06/01/1978,Rio Grande do Norte,Feminino,02/04/2023,01/05/2023,29,45,Fundamental,4020.64,1.0,Leitura,Não,Viúvo(a)
3,Dr. Lucas,Clínico geral,Comum,11,Davi da Mota,27/09/1956,Tocantins,Masculino,09/03/2023,30/03/2023,21,66,Fundamental,6680.35,2.0,Artes,Não,Viúvo(a)
4,Dr. Pedro,Clínico geral,Acidente de trabalho,12,Paulo Souza,09/04/1968,Roraima,Masculino,13/11/2023,04/12/2023,21,55,Fundamental,3038.72,3.0,Artes,Não,Divorciado(a)